<% content_for :meta do %>
 <meta property="og:site_name" content="Cao Tan Thanh's Blog"/>
 <meta property="og:title" content="<%= @post.title.gsub(/"/, '') %>"/>
 <meta property="og:type" content="cttblog:post"/>
 <meta property="og:description" content='<%= @post.content.truncate(200).gsub(/"/, '').squish %>' />
<% end %>
<p id="notice"><%= notice %></p>
<div class="blog-list-page">
  <div class="post-item">
    <div class="post-date centerize">
        <%= @post.created_at.strftime("%B %d, %Y") %>
    </div>
    <div class="post-title">
      <%= link_to @post.title, @post,:class => "slabText" %>
    </div>
    <div class="post-content">
      <%=raw @post.content.gsub(/\n/, '<br/>') %>
    </div>
    <ul class="tags">
      <% @post.tags.each do |tag| %>
        <li class="tag <%= tag.color %>"><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
</div>
