<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:meta) %>
    <%= yield(:meta) %>
  <% end %>
  <title>Thanh's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="blog">
    <header>
      <!--
        <%= link_to image_tag("avatar.jpg", class: "avatar", alt: "My Avatar"), root_url %>
      -->
        <%= link_to "", root_url, class: "avatar" %>
        <div class="introduce">
          <div class="title">
              <%= link_to "Cao Tấn Thành's Blog", root_url %>
          </div>
          <div class="position">
              Front End Expert at Big Labs Corporation
          </div>
        </div>
    </header>
    <%= yield %>
    <footer>
      This document created by <a href="mailto:tonycaovn@gmail.com">tonycaovn@gmail.com</a>
    </footer>
</body>
</html>
